.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}
.navbar a {
  text-decoration: none;
  color: red;
  font-size: 24px;
}
.navbar a::after {
  content: "";
  width: 0%;
  height: 3px;
  background: red;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.navbar a:hover::after {
  width: 100%;
}
.button {
  height: 45px;
  color: white;
  font-size: 18px;
  background-color: red;
  border-radius: 8px;
  border: 1px solid red;
  cursor: pointer;
}
.sign_up{
  background-image: url("https://images.pexels.com/photos/461198/pexels-photo-461198.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: center;
  background-size: cover;
position: relative;
  margin: auto;
  overflow: hidden;
  height: 90vh;
}
.sign_up_form{
  margin-top: 8%;
}
.login{
  margin: auto;
  margin-top: 7%;
  padding: 10%;
  background-color: red;
  border-radius: 2%;
  height: 40%;
  width: 25%;
  text-align: center;
}
.form{
  display: flex;
  flex-direction: column;
  width: 50%;
}
.form button{
  width: 10%;
  text-align: center;
  align-items: center;
}
.form input{
  padding: 10px;
  margin-bottom: 10px;
}
.user_info{
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 4px;
}
.user_names{
  text-align: center;
}
.user_names input{

}
.user_info input{
  width: 30%;
  padding: 10px;
  margin: auto;
}
.user_info button{
  width: 15%;
  padding: 10px;
  margin: auto;
  margin-top: 10px;
  border-radius: 8px;
}